<!-- head area include -->
<%- include('../layouts/frontend/head.ejs') %>

<!-- navbar area include -->
<%- include('../layouts/frontend/navbar.ejs') %>

    <!-- banner_area start -->
    <div class="banner_area" style=" background-image: url(./assets/images/background_image/bg1.jpg);">
        <div class="banner_area_bg_color">

            <div class="container">

                <div class="banner_area_content">
                    <!-- left-area start -->
                    <div class="left-area_content" data-aos="fade-right" data-aos-duration="1000">
                        <div class="left-area">
                            <div class="left_area_content">
                                <p class="profation_name">কেন্দ্রীয় সভাপতির, বাংলাদেশ ইসলামী ছাত্রশিবির</p>
                                <h2 class="name_text"> রাজিবুর রহমান</h2>
                                <p class="description_text">
                                    আসসালামু আলাইকুম, শহীদি কাফেলা বাংলাদেশ ইসলামী ছাত্রশিবিরের অনলাইন দাওয়তি সপ্তাহ
                                    উপলক্ষে কিছু স্মৃতিকথা লেখার উদ্দ্যেশ্যে আল্লাহ রব্বুল আলামীনের উপর ভরসা করে টাইপিং
                                    শুরু করছি। ইসলামী আদর্শের পতাকাবাহী বাংলাদেশ ইসলামী ছাত্রশিবিরের মত একটি কাফেলায়
                                    শামিল হওয়া ছিল আমার জন্য একটি সৌভাগ্য। আমি ইসলামী আদর্শের এ সংগঠন করব এটি ছিল
                                    অকল্পনীয়। মহান আল্লাহ রব্বুল আলামীন আমাকে কবুল করেছেন এজন্য শুকরিয়া আদায় করছি।
                                </p>

                                <!-- button_area start-->
                                <div class="button_area">
                                    <a href="#" class="button_text_area">
                                        <span class="button_text">
                                            আরোও দেখুন
                                            <span class="dash_icon"></span>
                                        </span>
                                    </a>
                                </div>
                                <!-- button_area end-->

                            </div>

                        </div>
                    </div>
                    <!-- left-area end -->

                    <!-- right-area start -->
                    <div class="right-area" data-aos="fade-left" data-aos-duration="1000">
                        <div class="image_area">
                            <img src="./assets/images/profile_image/image1.1.png" alt="image">
                        </div>
                    </div>
                    <!-- right-area end -->

                </div>

                <!-- small_count-area start -->
                <div class="small_count_area">
                    <div class="small_count-area_content">

                        <!-- count_item start -->
                        <div class="count_item">
                            <div class="count_number_area">
                                <h2 class="number_text">10+</h2>
                            </div>
                            <div class="count_text_area">
                                <p class="count_text">
                                    কাউন্ট নাম্বার</p>
                            </div>
                        </div>
                        <!-- count_item end -->
                        <!-- count_item start -->
                        <div class="count_item">
                            <div class="count_number_area">
                                <h2 class="number_text">300</h2>
                            </div>
                            <div class="count_text_area">
                                <p class="count_text">
                                    কাউন্ট নাম্বার</p>
                            </div>
                        </div>
                        <!-- count_item end -->
                        <!-- count_item start -->
                        <div class="count_item">
                            <div class="count_number_area">
                                <h2 class="number_text">250</h2>
                            </div>
                            <div class="count_text_area">
                                <p class="count_text">
                                    কাউন্ট নাম্বার </p>
                            </div>
                        </div>
                        <!-- count_item end -->
                        <!-- count_item start -->
                        <div class="count_item">
                            <div class="count_number_area">
                                <h2 class="number_text">90</h2>
                            </div>
                            <div class="count_text_area">
                                <p class="count_text">
                                    কাউন্ট নাম্বার</p>
                            </div>
                        </div>
                        <!-- count_item end -->

                    </div>
                </div>
                <!-- small_count-area end -->
            </div>
        </div>
    </div>
    <!-- banner_area end -->

    <!-- contemporary-area start -->
    <div class="contemporary-area news-area">
        <div class="dote_bg_image" style="background-image: url(./assets/images/bg_dote_image/bg_dote.png);">
        </div>
        <div class="container">

            <div class="news-area_content">

                <!-- content_title start -->
                <div class="content_title_and_description" data-aos="fade-right" data-aos-duration="1000">
                    <h2 class="title_text">সমসাময়িক</h2>
                    <p class="description_text">নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম।
                        সততা মানব চরিত্রের শ্রেষ্ঠ গুণ। </p>
                </div>
                <!-- content_title end -->

                <!-- news_item-all start -->
                <div class="news_item-all" data-aos="fade-up" data-aos-duration="1000">
                    <!-- top_item_area start -->
                    <div class="top_item_area">
                        <!-- left_area start -->
                        <div class="left_area">
                            <a href="contemporary_details.html" class="item">
                                <img src="./assets/images/news_image/img1.1.webp" alt="News">

                                <!-- layout_area start -->
                                <div class="layout_area">
                                    <div class="item_date_and_title_area">

                                        <div class="date_area">
                                            <p class="date_text">
                                                12.November.2023
                                            </p>
                                        </div>

                                        <div class="title_area">
                                            <p class="title_text">
                                                প্রতিশোধ হিসেবে রাশিয়ার দুই কূটনীতিককে
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!-- layout_area end-->
                            </a>
                        </div>
                        <!-- left_area end -->
                        <!-- right_area start -->
                        <div class="right_area">
                            <a href="contemporary_details.html" class="item">
                                <img src="./assets/images/news_image/img2.jpg" alt="News">

                                <!-- layout_area start -->
                                <div class="layout_area">
                                    <div class="item_date_and_title_area">

                                        <div class="date_area">
                                            <p class="date_text">
                                                12.November.2023
                                            </p>
                                        </div>

                                        <div class="title_area">
                                            <p class="title_text">
                                                প্রতিশোধ হিসেবে রাশিয়ার দুই কূটনীতিককে বহিষ্কার করেছে যুক্তরাষ্ট্র
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!-- layout_area end-->
                            </a>
                            <a href="contemporary_details.html" class="item">
                                <img src="./assets/images/news_image/img3.jpg" alt="News">

                                <!-- layout_area start -->
                                <div class="layout_area">
                                    <div class="item_date_and_title_area">

                                        <div class="date_area">
                                            <p class="date_text">
                                                12.November.2023
                                            </p>
                                        </div>

                                        <div class="title_area">
                                            <p class="title_text">
                                                প্রতিশোধ হিসেবে রাশিয়ার দুই কূটনীতিককে বহিষ্কার করেছে যুক্তরাষ্ট্র
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!-- layout_area end-->
                            </a>
                        </div>
                        <!-- right_area end -->
                    </div>
                    <!-- top_item_area end -->

                    <!-- bottom_item_area start -->
                    <div class="bottom_item_area">
                        <a href="contemporary_details.html" class="item">
                            <img src="./assets/images/news_image/img4.webp" alt="News">
                            <!-- layout_area start -->
                            <div class="layout_area">
                                <div class="item_date_and_title_area">

                                    <div class="date_area">
                                        <p class="date_text">
                                            12.November.2023
                                        </p>
                                    </div>

                                    <div class="title_area">
                                        <p class="title_text">
                                            রেছে যুক্তরাষ্ট্রকরেছে যুক্তরাষ্ট্র
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <!-- layout_area end-->
                        </a>
                        <a href="contemporary_details.html" class="item">
                            <img src="./assets/images/news_image/img5.jpeg" alt="News">

                            <!-- layout_area start -->
                            <div class="layout_area">
                                <div class="item_date_and_title_area">

                                    <div class="date_area">
                                        <p class="date_text">
                                            12.November.2023
                                        </p>
                                    </div>

                                    <div class="title_area">
                                        <p class="title_text">
                                            প্রতিশোধ হিসেবে রাশিয়ার দুই কূটনীতিককে বহিষ্কার করেছে যুক্তরাষ্ট্র
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <!-- layout_area end-->
                        </a>
                        <a href="contemporary_details.html" class="item">
                            <img src="./assets/images/news_image/img6.jpg" alt="News">
                            <!-- layout_area start -->
                            <div class="layout_area">
                                <div class="item_date_and_title_area">

                                    <div class="date_area">
                                        <p class="date_text">
                                            12.November.2023
                                        </p>
                                    </div>

                                    <div class="title_area">
                                        <p class="title_text">
                                            প্রতিশোধ হিসেবে রাশিয়ার দুই কূটনীতিককে বহিষ্কার করেছে যুক্তরাষ্ট্র
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <!-- layout_area end-->

                        </a>
                    </div>
                    <!-- bottom_item_area end -->
                </div>
                <!-- news_item-all end -->

                <!-- button_area start-->
                <div class="button_area" style="text-align: center;" data-aos="fade-up" data-aos-duration="1000">
                    <a href="contemporary" class="button_text_area">
                        <span class="button_text">
                            আরোও দেখুন
                            <span class="dash_icon"></span>
                        </span>
                    </a>
                </div>
                <!-- button_area end-->

            </div>
        </div>
    </div>
    <!--contemporary-area end -->

    <!-- social_work_area start -->
    <div class="social_work_area" style=" margin-top: 80px;">
        <div class="container">
            <div class="social_work_area_content">

                <!-- content_title start -->
                <div class="content_title_and_description" data-aos="fade-right" data-aos-duration="1000">
                    <h2 class="title_text">সামাজিক কাজ</h2>
                    <p class="description_text">নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম।
                        সততা মানব চরিত্রের শ্রেষ্ঠ গুণ। নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম। </p>
                </div>
                <!-- content_title end -->

                <div class="social_work_all_item">
                    <ul>
                        <li class="item_area">
                            <a href="social_work_details.html" class="social_work_image_card" data-aos="fade-up"
                                data-aos-duration="300">
                                <img src="./assets/images/local_image/s1.jpg" alt="img">
                                <!-- overlay-area start -->
                                <div class="overlay-area">
                                    <div class="overlay-area_content">

                                        <div class="image_title">
                                            <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                                ফিলিস্তিন-ইসরায়েল
                                                যুদ্ধ</h2>
                                        </div>
                                    </div>

                                </div>
                                <!-- overlay-area end -->
                            </a>
                        </li>
                        <li class="item_area">
                            <a href="social_work_details.html" class="social_work_image_card" data-aos="fade-up"
                                data-aos-duration="600">
                                <img src="./assets/images/local_image/s2.jpg" alt="img">
                                <!-- overlay-area start -->
                                <div class="overlay-area">
                                    <div class="overlay-area_content">
                                        <div class="video_icon_area">
                                            <div class="video_icon">
                                                <i class="fa-solid fa-play"></i>
                                            </div>
                                        </div>
                                        <div class="image_title">
                                            <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                                ফিলিস্তিন-ইসরায়েল
                                                যুদ্ধ</h2>
                                        </div>
                                    </div>

                                </div>
                                <!-- overlay-area end -->
                            </a>
                        </li>
                        <li class="item_area">
                            <a href="social_work_details.html" class="social_work_image_card" data-aos="fade-up"
                                data-aos-duration="900">
                                <img src="./assets/images/local_image/s3.jpg" alt="img">
                                <!-- overlay-area start -->
                                <div class="overlay-area">
                                    <div class="overlay-area_content">

                                        <div class="image_title">
                                            <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                                ফিলিস্তিন-ইসরায়েল
                                                যুদ্ধ</h2>
                                        </div>
                                    </div>

                                </div>
                                <!-- overlay-area end -->
                            </a>
                        </li>
                        <li class="item_area">
                            <a href="social_work_details.html" class="social_work_image_card" data-aos="fade-up"
                                data-aos-duration="1200">
                                <img src="./assets/images/local_image/s4.jpg" alt="img">
                                <!-- overlay-area start -->
                                <div class="overlay-area">
                                    <div class="overlay-area_content">
                                        <div class="video_icon_area">
                                            <div class="video_icon">
                                                <i class="fa-solid fa-play"></i>
                                            </div>
                                        </div>
                                        <div class="image_title">
                                            <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                                ফিলিস্তিন-ইসরায়েল
                                                যুদ্ধ</h2>
                                        </div>
                                    </div>

                                </div>
                                <!-- overlay-area end -->
                            </a>
                        </li>
                        <li class="item_area">
                            <a href="social_work_details.html" class="social_work_image_card" data-aos="fade-up"
                                data-aos-duration="300">
                                <img src="./assets/images/local_image/s5.jpeg" alt="img">
                                <!-- overlay-area start -->
                                <div class="overlay-area">
                                    <div class="overlay-area_content">

                                        <div class="image_title">
                                            <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                                ফিলিস্তিন-ইসরায়েল
                                                যুদ্ধ</h2>
                                        </div>
                                    </div>

                                </div>
                                <!-- overlay-area end -->
                            </a>
                        </li>
                        <li class="item_area">
                            <a href="social_work_details.html" class="social_work_image_card" data-aos="fade-up"
                                data-aos-duration="600">
                                <img src="./assets/images/local_image/s6.jpg" alt="img">
                                <!-- overlay-area start -->
                                <div class="overlay-area">
                                    <div class="overlay-area_content">
                                        <div class="video_icon_area">
                                            <div class="video_icon">
                                                <i class="fa-solid fa-play"></i>
                                            </div>
                                        </div>
                                        <div class="image_title">
                                            <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                                ফিলিস্তিন-ইসরায়েল
                                                যুদ্ধ</h2>
                                        </div>
                                    </div>

                                </div>
                                <!-- overlay-area end -->
                            </a>
                        </li>
                        <li class="item_area">
                            <a href="social_work_details.html" class="social_work_image_card" data-aos="fade-up"
                                data-aos-duration="900">
                                <img src="./assets/images/local_image/s7.jpg" alt="img">
                                <!-- overlay-area start -->
                                <div class="overlay-area">
                                    <div class="overlay-area_content">

                                        <div class="image_title">
                                            <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                                ফিলিস্তিন-ইসরায়েল
                                                যুদ্ধ</h2>
                                        </div>
                                    </div>

                                </div>
                                <!-- overlay-area end -->
                            </a>
                        </li>
                        <li class="item_area">
                            <a href="social_work_details.html" class="social_work_image_card" data-aos="fade-up"
                                data-aos-duration="1200">
                                <img src="./assets/images/local_image/s2.jpg" alt="img">
                                <!-- overlay-area start -->
                                <div class="overlay-area">
                                    <div class="overlay-area_content">
                                        <div class="video_icon_area">
                                            <div class="video_icon">
                                                <i class="fa-solid fa-play"></i>
                                            </div>
                                        </div>
                                        <div class="image_title">
                                            <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                                ফিলিস্তিন-ইসরায়েল
                                                যুদ্ধ</h2>
                                        </div>
                                    </div>

                                </div>
                                <!-- overlay-area end -->
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- button_area start-->
                <div class="button_area" style="text-align: center;" data-aos="fade-up" data-aos-duration="1000">
                    <a href="social-work" class="button_text_area">
                        <span class="button_text">
                            আরোও দেখুন
                            <span class="dash_icon"></span>
                        </span>
                    </a>
                </div>
                <!-- button_area end-->

            </div>
        </div>
    </div>
    <!-- social_work_area end -->


    <!-- count_area start -->
    <div class="count_area" data-aos="fade-up" data-aos-duration="1000">
        <div class="count_area_all">
            <div class="container">
                <div class="count_area_content">

                    <!-- count_item start -->
                    <div class="count_item">
                        <div class="count_text_area">
                            <h2 class="count_text">কাউন্ট নাম্বার</h2>
                        </div>
                        <div class="count_number_area">
                            <h2 class="count_number">120</h2>
                        </div>
                    </div>
                    <!-- count_item end -->

                    <!-- count_item start -->
                    <div class="count_item">
                        <div class="count_text_area">
                            <h2 class="count_text">কাউন্ট নাম্বার</h2>
                        </div>
                        <div class="count_number_area">
                            <h2 class="count_number">60</h2>
                        </div>
                    </div>
                    <!-- count_item end -->

                    <!-- count_item start -->
                    <div class="count_item">
                        <div class="count_text_area">
                            <h2 class="count_text">কাউন্ট নাম্বার</h2>
                        </div>
                        <div class="count_number_area">
                            <h2 class="count_number">50</h2>
                        </div>
                    </div>
                    <!-- count_item end -->

                    <!-- count_item start -->
                    <div class="count_item">
                        <div class="count_text_area">
                            <h2 class="count_text">কাউন্ট নাম্বার</h2>
                        </div>
                        <div class="count_number_area">
                            <h2 class="count_number">90</h2>
                        </div>
                    </div>
                    <!-- count_item end -->

                </div>
            </div>
            <div class="bg_image" style="  background-image: url(./assets/images/bg_dote_image/bg_dote.png);"></div>
        </div>

    </div>
    <!-- count_area end -->

    <!-- book_review_area start -->
    <div class="book_review_area">
        <div class="container">
            <div class="book_review_area_content">

                <!-- content_title start -->
                <div class="content_title_and_description" data-aos="fade-right" data-aos-duration="1000">
                    <h2 class="title_text">বই পর্যালোচনা</h2>
                    <p class="description_text">নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম।
                        সততা মানব চরিত্রের শ্রেষ্ঠ গুণ। নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম। </p>
                </div>
                <!-- content_title end -->

                <!-- book_card_area_all start -->
                <div class="book_card_area_all">

                    <!-- book_card start -->
                    <div class="book_card">
                        <a href="book_review_details.html" class="book_card_item" data-aos="fade-up"
                            data-aos-duration="300">
                            <div class="image_area">
                                <img src="./assets/images/book_review_image/book1.jpg" alt="image">
                                <!-- <div class="bg_image" style="">

                                </div> -->
                            </div>
                            <div class="image_title_and_description_area">
                                <h2 class="title_text">ইসলাম বই</h2>
                                <p class="description_text">নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও
                                    বরকতের
                                    মাধ্যম।
                                    সততা মানব চরিত্রের শ্রেষ্ঠ গুণ। নাজাত লাভ, জান্নাত অর্জন,
                                </p>
                            </div>

                        </a>
                    </div>
                    <!-- book_card end -->
                    <!-- book_card start -->
                    <div class="book_card">
                        <a href="book_review_details.html" class="book_card_item" data-aos="fade-up"
                            data-aos-duration="600">
                            <div class="image_area">
                                <img src="./assets/images/book_review_image/book2.jpg" alt="image">
                            </div>
                            <div class="image_title_and_description_area">
                                <h2 class="title_text">বই</h2>
                                <p class="description_text">বইটি থেকে অনেক টি থেকে অনেক কিছু
                                    জানার আছে</p>
                            </div>

                        </a>
                    </div>
                    <!-- book_card end -->
                    <!-- book_card start -->
                    <div class="book_card">
                        <a href="book_review_details.html" class="book_card_item" data-aos="fade-up"
                            data-aos-duration="900">
                            <div class="image_area">
                                <img src="./assets/images/book_review_image/book3.jpg" alt="image">
                            </div>
                            <div class="image_title_and_description_area">
                                <h2 class="title_text">ইসলাম</h2>
                                <p class="description_text">বইটা অনেক সুন্দর , বইটি থেকে অনেক </p>
                            </div>

                        </a>
                    </div>
                    <!-- book_card end -->
                    <!-- book_card start -->
                    <div class="book_card">
                        <a href="book_review_details.html" class="book_card_item" data-aos="fade-up"
                            data-aos-duration="1200">
                            <div class="image_area">
                                <img src="./assets/images/book_review_image/book4.jpg" alt="image">
                            </div>
                            <div class="image_title_and_description_area">
                                <h2 class="title_text">বইটি থেকে অনেক</h2>
                                <p class="description_text">
                                    অনেক বইটা অনেক সুন্দর , ক কিছু
                                    জানার আছে</p>
                            </div>

                        </a>
                    </div>
                    <!-- book_card end -->
                </div>
                <!-- book_card_area_all end -->

                <!-- button_area start-->
                <div class="button_area" style="text-align: center;" data-aos="fade-up" data-aos-duration="1000">
                    <a href="book-review" class="button_text_area">
                        <span class="button_text">
                            আরোও দেখুন
                            <span class="dash_icon"></span>
                        </span>
                    </a>
                </div>
                <!-- button_area end-->

            </div>
        </div>
    </div>
    <!-- book_review_area end -->


    <!-- text_slider_area start -->
    <div class="text_slider_area" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <div class="text_slider_area_content" data-aos="fade-up" data-aos-duration="900">
                <div class="slider_text_area">
                    <p class="slider_text">
                        সততায় মাধ্যম। সততা মানব চ সততায় মাধ্যম। সততা মানব চ সততায় মাধ্যম। সততা মানব চ সততায় মাধ্যম। সততা
                        মানব চ সততায় মাধ্যম। সততা মানব চ সততায় মাধ্যম। সততা মানব চ

                    </p>

                    <div class="left_quotetion_area">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <div class="right_quotetion_area">
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- text_slider_area end -->


    <!-- photo_gallery_are start -->
    <div class="photo_gallery_are">
        <div class="container">
            <div class="photo_gallery_are_content">

                <!-- content_title start -->
                <div class="content_title_and_description" data-aos="fade-right" data-aos-duration="1000">
                    <h2 class="title_text">ফটো গ্যালারি</h2>
                    <p class="description_text">নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম।
                        সততা মানব চরিত্রের শ্রেষ্ঠ গুণ। নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম। </p>
                </div>
                <!-- content_title end -->

                <!-- all_blog_card start -->
                <div class="all_photo_card">

                    <!--card start -->
                    <a href="#" class="photo_card" data-aos="fade-up" data-aos-duration="300">
                        <img src="./assets/images/news_image/img1.1.webp" alt="img">
                        <!-- overlay-area start -->
                        <div class="overlay-area">
                            <div class="overlay-area_content">
                                <div class="image_title">
                                    <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                    </h2>
                                </div>
                            </div>

                        </div>
                        <!-- overlay-area end -->
                    </a>
                    <!--card end -->
                    <!--card start -->
                    <a href="#" class="photo_card" data-aos="fade-up" data-aos-duration="600">
                        <img src="./assets/images/news_image/img6.jpg" alt="img">
                        <!-- overlay-area start -->
                        <div class="overlay-area">
                            <div class="overlay-area_content">
                                <div class="image_title">
                                    <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                    </h2>
                                </div>
                            </div>

                        </div>
                        <!-- overlay-area end -->
                    </a>
                    <!--card end -->
                    <!--card start -->
                    <a href="#" class="photo_card" data-aos="fade-up" data-aos-duration="900">
                        <img src="./assets/images/news_image/img5.jpeg" alt="img">
                        <!-- overlay-area start -->
                        <div class="overlay-area">
                            <div class="overlay-area_content">
                                <div class="image_title">
                                    <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                    </h2>
                                </div>
                            </div>

                        </div>
                        <!-- overlay-area end -->
                    </a>
                    <!--card end -->
                    <!--card start -->
                    <a href="#" class="photo_card" data-aos="fade-up" data-aos-duration="1200">
                        <img src="./assets/images/news_image/img4.webp" alt="img">
                        <!-- overlay-area start -->
                        <div class="overlay-area">
                            <div class="overlay-area_content">
                                <div class="image_title">
                                    <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের কারণ হয়ে দাঁড়িয়েছে
                                    </h2>
                                </div>
                            </div>

                        </div>
                        <!-- overlay-area end -->
                    </a>
                    <!--card end -->

                </div>
                <!-- all_blog_card end -->

                <!-- button_area start-->
                <div class="button_area" style="text-align: center;" data-aos="fade-up" data-aos-duration="1000">
                    <a href="photo-gallery" class="button_text_area">
                        <span class="button_text">
                            আরোও দেখুন
                            <span class="dash_icon"></span>
                        </span>
                    </a>
                </div>
                <!-- button_area end-->

            </div>
        </div>
    </div>
    <!-- photo_gallery_are end -->

    <!-- video_gallery_are start -->
    <div class="video_gallery_are">
        <div class="container">
            <div class="video_gallery_are_content">

                <!-- content_title start -->
                <div class="content_title_and_description" data-aos="fade-right" data-aos-duration="1000">
                    <h2 class="title_text">ভিডিও গ্যালারি</h2>
                    <p class="description_text">নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম।
                        সততা মানব চরিত্রের শ্রেষ্ঠ গুণ। নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও বরকতের
                        মাধ্যম। </p>
                </div>
                <!-- content_title end -->

                <!-- all_blog_card start -->
                <div class="all_video_card">
                    <!--card start -->
                    <a href="#" class="video_card" data-aos="fade-up" data-aos-duration="300">
                        <img src="./assets/images/news_image/img2.jpg" alt="img">
                        <!-- overlay-area start -->
                        <div class="overlay-area">
                            <div class="overlay-area_content">
                                <div class="video_icon_area">
                                    <div class="video_icon">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                </div>
                                <div class="image_title">
                                    <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের </h2>
                                </div>
                            </div>

                        </div>
                        <!-- overlay-area end -->
                    </a>
                    <!--card end -->
                    <!--card start -->
                    <a href="#" class="video_card" data-aos="fade-up" data-aos-duration="600">
                        <img src="./assets/images/news_image/img3.jpg" alt="img">
                        <!-- overlay-area start -->
                        <div class="overlay-area">
                            <div class="overlay-area_content">
                                <div class="video_icon_area">
                                    <div class="video_icon">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                </div>
                                <div class="image_title">
                                    <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের </h2>
                                </div>
                            </div>

                        </div>
                        <!-- overlay-area end -->
                    </a>
                    <!--card end -->
                    <!--card start -->
                    <a href="#" class="video_card" data-aos="fade-up" data-aos-duration="900">
                        <img src="./assets/images/news_image/img4.webp" alt="img">
                        <!-- overlay-area start -->
                        <div class="overlay-area">
                            <div class="overlay-area_content">
                                <div class="video_icon_area">
                                    <div class="video_icon">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                </div>
                                <div class="image_title">
                                    <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের </h2>
                                </div>
                            </div>

                        </div>
                        <!-- overlay-area end -->
                    </a>
                    <!--card end -->
                    <!--card start -->
                    <a href="#" class="video_card" data-aos="fade-up" data-aos-duration="1200">
                        <img src="./assets/images/news_image/img5.jpeg" alt="img">
                        <!-- overlay-area start -->
                        <div class="overlay-area">
                            <div class="overlay-area_content">
                                <div class="video_icon_area">
                                    <div class="video_icon">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                </div>
                                <div class="image_title">
                                    <h2 class="title_text">বিশ্বব্যাপী উদ্বেগের </h2>
                                </div>
                            </div>

                        </div>
                        <!-- overlay-area end -->
                    </a>
                    <!--card end -->



                </div>
                <!-- all_blog_card end -->

                <!-- button_area start-->
                <div class="button_area" style="text-align: center;" data-aos="fade-up" data-aos-duration="1000">
                    <a href="video-gallery" class="button_text_area">
                        <span class="button_text">
                            আরোও দেখুন
                            <span class="dash_icon"></span>
                        </span>
                    </a>
                </div>
                <!-- button_area end-->

            </div>
        </div>
    </div>
    <!-- video_gallery_are end -->

    <!-- scroll_button_area start -->
    <a href="#scroll_top" class="scroll-button">
        <span class="icon">
            <i class="fa-solid fa-angle-up"></i>
        </span>
    </a>
    <!-- scroll_button_area end -->

   <%- include('../layouts/frontend/footer.ejs') %>