// book_card start
.book_card {
    border: $border;

    .book_card_item {
        border: $border;
        background-color: $white;
        width: 300px;
        border: 1px solid $border_black;
        &:hover {
            .image_area {
                img {
                    scale: 1.1;
                }
            }
            .image_title_and_description_area{
                background-color: $off_white;
            }
        }
        .image_area {
            border: $border;
            width: 100%;
            height: 230px;
            padding: 30px;
            overflow: hidden;
            border-bottom: 1px solid $border_black;
            position: relative;
            &::after{
                content: '';
                background-image: url("../images/bg_dote_image/bg_dote.png");
                width: 50%;
                height: 60%;
                position: absolute;
                top: 10px;
                left: 10px;
            }
            img {
                border: $border;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition-duration: 0.4s;
                z-index: 1;
                position: relative;
            
            }
        }
        .image_title_and_description_area {
            border: $border;
            padding: 30px 25px;
            min-height: 160px;
            transition-duration: .4s;
            // background-color: $border_black;
            .title_text {
                border: $border;
                font-family: $font_bangla;
                font-size: 18px;
                // color: $black;
                color: $brand_color;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .description_text {
                border: $border;
                font-family: $font_bangla;
                font-size: 14px;
                color: $deep_black;
                color: $light_black;
                text-align: justify;
            }
        }
    }
}

// book_card end
