.related_item_areaa{
    border-bottom: 1px solid $brand_color;
    border-top: 1px solid $brand_color;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    // border: 2px solid red;
    .social_work_image_carda{
        // border: 1px solid red;
        display: flex;
        // width: 140px;
        height: 120px;
        img{
            // width: 100%;
            height: 100%;
        }
        .overlay-areaa{
            width: 50%;
            .overlay-area_contenta{
                .image_titlea {
                    border: $border;
                    .title_texta {
                        border: $border;
                        font-family: $font_bangla;
                        font-size: 18px;
                        // font-weight: bold;
                        // color: $brand_color;
                        color: $brand_color;
                    }
                }
            }
        }
    }
}