<!-- head area include -->
<%- include('../../layouts/frontend/head.ejs') %>

<!-- navbar area include -->
<%- include('../../layouts/frontend/navbar.ejs') %>

    <div class="inner-page_and_side-ber-area">
        <div class="container">
            <div class="inner-page_and_side-ber-area_content">
                <!-- inner_page_area start -->
                <div class="inner_page_area">
                    <div class="inner_page_area_content">
                        <!-- content_title start -->
                        <div class="content_title_and_description" data-aos="fade-right" data-aos-duration="1000">
                            <h2 class="title_text">বিবিধ</h2>
                            <p class="description_text">নাজাত লাভ, জান্নাত অর্জন, খোদার সন্তুষ্টি এবং ধনসম্পদেও
                                বরকতের
                                মাধ্যম।
                                সততা মানব চরিত্রের শ্রেষ্ঠ গুণ। </p>
                        </div>
                        <!-- content_title end -->

                        <!-- inner_page_all_content start -->
                        <div class="inner_page_all_content" data-aos="fade-up" data-aos-duration="1000">
                            <!-- blog_card start -->
                            <a href="blog-miscellaneous-details" class="blog_card edit_inner_blog_card">
                                <div class="blog_image">
                                    <img src="./assets/images/news_image/img2.jpg" alt="img">
                                </div>
                                <!-- overlay_area start -->
                                <div class="overlay_area">
                                    <div class="blog_title">
                                        <div class="title_area">
                                            <h2 class="title_text">
                                                বিশ্বব্যাপী উদ্বেগের কারণ
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                                <!-- overlay_area end -->
                            </a>
                            <!-- blog_card end -->
                            <!-- blog_card start -->
                            <a href="blog-miscellaneous-details" class="blog_card edit_inner_blog_card">
                                <div class="blog_image">
                                    <img src="./assets/images/news_image/img2.jpg" alt="img">
                                </div>
                                <!-- overlay_area start -->
                                <div class="overlay_area">
                                    <div class="blog_title">
                                        <div class="title_area">
                                            <h2 class="title_text">
                                                বিশ্বব্যাপী উদ্বেগের কারণ
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                                <!-- overlay_area end -->
                            </a>
                            <!-- blog_card end -->
                            <!-- blog_card start -->
                            <a href="blog-miscellaneous-details" class="blog_card edit_inner_blog_card">
                                <div class="blog_image">
                                    <img src="./assets/images/news_image/img2.jpg" alt="img">
                                </div>
                                <!-- overlay_area start -->
                                <div class="overlay_area">
                                    <div class="blog_title">
                                        <div class="title_area">
                                            <h2 class="title_text">
                                                বিশ্বব্যাপী উদ্বেগের কারণ
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                                <!-- overlay_area end -->
                            </a>
                            <!-- blog_card end -->
                            <!-- blog_card start -->
                            <a href="blog-miscellaneous-details" class="blog_card edit_inner_blog_card">
                                <div class="blog_image">
                                    <img src="./assets/images/news_image/img2.jpg" alt="img">
                                </div>
                                <!-- overlay_area start -->
                                <div class="overlay_area">
                                    <div class="blog_title">
                                        <div class="title_area">
                                            <h2 class="title_text">
                                                বিশ্বব্যাপী উদ্বেগের কারণ
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                                <!-- overlay_area end -->
                            </a>
                            <!-- blog_card end -->
                            <!-- blog_card start -->
                            <a href="blog-miscellaneous-details" class="blog_card edit_inner_blog_card">
                                <div class="blog_image">
                                    <img src="./assets/images/news_image/img2.jpg" alt="img">
                                </div>
                                <!-- overlay_area start -->
                                <div class="overlay_area">
                                    <div class="blog_title">
                                        <div class="title_area">
                                            <h2 class="title_text">
                                                বিশ্বব্যাপী উদ্বেগের কারণ
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                                <!-- overlay_area end -->
                            </a>
                            <!-- blog_card end -->
                            <!-- blog_card start -->
                            <a href="blog-miscellaneous-details" class="blog_card edit_inner_blog_card">
                                <div class="blog_image">
                                    <img src="./assets/images/news_image/img2.jpg" alt="img">
                                </div>
                                <!-- overlay_area start -->
                                <div class="overlay_area">
                                    <div class="blog_title">
                                        <div class="title_area">
                                            <h2 class="title_text">
                                                বিশ্বব্যাপী উদ্বেগের কারণ
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                                <!-- overlay_area end -->
                            </a>
                            <!-- blog_card end -->
                            <!-- blog_card start -->
                            <a href="blog-miscellaneous-details" class="blog_card edit_inner_blog_card">
                                <div class="blog_image">
                                    <img src="./assets/images/news_image/img2.jpg" alt="img">
                                </div>
                                <!-- overlay_area start -->
                                <div class="overlay_area">
                                    <div class="blog_title">
                                        <div class="title_area">
                                            <h2 class="title_text">
                                                বিশ্বব্যাপী উদ্বেগের কারণ
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                                <!-- overlay_area end -->
                            </a>
                            <!-- blog_card end -->
                            <!-- blog_card start -->
                            <a href="blog-miscellaneous-details" class="blog_card edit_inner_blog_card">
                                <div class="blog_image">
                                    <img src="./assets/images/news_image/img2.jpg" alt="img">
                                </div>
                                <!-- overlay_area start -->
                                <div class="overlay_area">
                                    <div class="blog_title">
                                        <div class="title_area">
                                            <h2 class="title_text">
                                                বিশ্বব্যাপী উদ্বেগের কারণ
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                                <!-- overlay_area end -->
                            </a>
                            <!-- blog_card end -->
                        </div>
                        <!-- inner_page_all_content end -->

                        <!-- pagination_area start -->
                        <div class="pagination_area" data-aos="fade-up" data-aos-duration="1000">
                            <div class="pagination_area_content">
                                <ul>
                                    <li>
                                        <a href="#" class="pagination_text">পূর্ববর্তী</a>
                                    </li>
                                    <li>
                                        <a href="#" class="pagination_text pagination_number">1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="pagination_text pagination_number">2</a>
                                    </li>
                                    <li>
                                        <a href="#" class="pagination_text pagination_number">3</a>
                                    </li>
                                    <li>
                                        <a href="#" class="pagination_text">পরবর্তী</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- pagination-area end -->

                    </div>
                </div>
                <!-- inner_page_area end -->

                <!-- side_ber_area start -->
                <div class="side_ber_area" data-aos="fade-left" data-aos-duration="1000">
                    <div class="side_ber_area_content">

                        <!-- search_area start -->
                        <div class="search_area">
                            <form action="#">
                                <input type="text" placeholder="Search . . .">
                                <button class="button_area">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <!-- search_area end -->

                        <!-- categories_area start -->
                        <div class="categories_area">

                            <!-- side_ber_area_title start -->
                            <div class="side_ber_area_title">
                                <h2 class="title_text">ক্যাটেগরীজ</h2>
                            </div>
                            <!-- side_ber_area_title end -->

                            <div class="categories_item_all">
                                <ul>
                                    <li>
                                        <a href="#" class="categories_name">
                                            সব
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="categories_name">
                                            ক্যাটেগরীজ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="categories_name">
                                            ক্যাটেগরীজ 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="categories_name">
                                            গরীজ 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="categories_name">
                                            ক্যাটেগরীজ 3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="categories_name">
                                            ক্যাটেগরীজ 4
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- categories_area end -->

                        <!-- recently_posted_area start -->
                        <div class="recently_posted_area">

                            <!-- side_ber_area_title start -->
                            <div class="side_ber_area_title">
                                <h2 class="title_text">সম্প্রতি পোস্ট</h2>
                            </div>
                            <!-- side_ber_area_title end -->

                            <div class="recently_posted_item_all">

                                <!-- posted_item start -->
                                <a href="#" class="posted_item">
                                    <div class="image_area">
                                        <img src="./assets/images/news_image/img6.jpg" alt="img">
                                    </div>
                                    <div class="title_and_dete_area">
                                        <div class="title_area">
                                            <p class="title_text">
                                                সামাজিক কাজ ইউনিয়ন পরিষদ কাজ সামাজিক
                                            </p>
                                        </div>
                                        <div class="date_area">
                                            <p class="date_text">
                                                12.November.2023
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- posted_item end -->
                                <!-- posted_item start -->
                                <a href="#" class="posted_item">
                                    <div class="image_area">
                                        <img src="./assets/images/news_image/img6.jpg" alt="img">
                                    </div>
                                    <div class="title_and_dete_area">
                                        <div class="title_area">
                                            <p class="title_text">
                                                সামাজিক কাজ ইউনিয়ন
                                            </p>
                                        </div>
                                        <div class="date_area">
                                            <p class="date_text">
                                                12.November.2023
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- posted_item end -->
                                <!-- posted_item start -->
                                <a href="#" class="posted_item">
                                    <div class="image_area">
                                        <img src="./assets/images/news_image/img6.jpg" alt="img">
                                    </div>
                                    <div class="title_and_dete_area">
                                        <div class="title_area">
                                            <p class="title_text">
                                                সামাজিক কাজ ইউনিয়ন পরিষদ কাজ সামাজিক
                                            </p>
                                        </div>
                                        <div class="date_area">
                                            <p class="date_text">
                                                12.November.2023
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- posted_item end -->
                                <!-- posted_item start -->
                                <a href="#" class="posted_item">
                                    <div class="image_area">
                                        <img src="./assets/images/news_image/img6.jpg" alt="img">
                                    </div>
                                    <div class="title_and_dete_area">
                                        <div class="title_area">
                                            <p class="title_text">
                                                সামাজিক কাজ ইউনিয়ন পরিষদ কাজ সামাজিক
                                            </p>
                                        </div>
                                        <div class="date_area">
                                            <p class="date_text">
                                                12.November.2023
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- posted_item end -->

                            </div>

                        </div>
                        <!-- recently_posted_area end -->

                        <!-- popular_tag_area start -->
                        <div class="popular_tag_area">

                            <!-- side_ber_area_title start -->
                            <div class="side_ber_area_title">
                                <h2 class="title_text">জনপ্রিয় ট্যাগ</h2>
                            </div>
                            <!-- side_ber_area_title end -->

                            <div class="popular_tag_all">
                                <ul>
                                    <li>
                                        <a href="#" class="tag_text">ট্যাগ 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">জনপ্রিয় ট্যাগ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">জনপ্রিয় ট্যাগ 2</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">ট্যাগ 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">জনপ্রিয় ট্যাগ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">ট্যাগ 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">জনপ্রিয় ট্যাগ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">ট্যাগ 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">জনপ্রিয় ট্যাগ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="tag_text">ট্যাগ 1</a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <!-- popular_tag_area end -->

                    </div>
                </div>
                <!-- side_ber_area end -->
            </div>
        </div>
    </div>


    <!-- scroll_button_area start -->
    <a href="#scroll_top" class="scroll-button">
        <span class="icon">
            <i class="fa-solid fa-angle-up"></i>
        </span>
    </a>
    <!-- scroll_button_area end -->

    <%- include('../../layouts/frontend/footer.ejs') %>