 <!-- footer_area start -->
 <footer class="footer_area" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="footer_area_content">

            <!-- fotter_area_logo_and_menu start -->
            <div class="fotter_area_logo_and_menu">
                <div class="logo_area">
                    <img src="./assets/images/logo_image/white_logo.png" alt="logo">
                </div>
                <div class="menu_area">
                    <ul>
                        <li>
                            <a href="index.html" class="menu_text">হোম</a>
                        </li>
                        <li>
                            <a href="about.html" class="menu_text">আমাদের সম্পর্কে</a>
                        </li>
                        <li>
                            <a href="contemporary.html" class="menu_text">সমসাময়িক</a>
                        </li>
                        <li>
                            <a href="social_work.html" class="menu_text">সামাজিক কাজ</a>
                        </li>
                        <li>
                            <a href="book_review.html" class="menu_text">বই পর্যালোচনা</a>
                        </li>

                        <li>
                            <a href="photo_gallery.html" class="menu_text">ফটো গ্যালারি</a>
                        </li>
                        <li>
                            <a href="video_gallery.html" class="menu_text">ভিডিও গ্যালারি</a>
                        </li>
                        <li>
                            <a href="contact.html" class="menu_text">যোগাযোগ</a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- fotter_area_logo_and_menu end -->

            <!-- footer_inner_area start -->
            <div class="footer_inner_area" data-aos="fade-up" data-aos-duration="900">

                <div class="footer_area_content">
                    <div class="row">

                        <!-- importent_link_area start -->
                        <div class="col-md-4 col-lg-4">
                            <div class="area_title">
                                <h2 class="area_title_text">গুরুত্বপূর্ণ লিঙ্কসমূহ</h2>
                            </div>
                            <div class="importent_link_area">
                                <ul>

                                    <li>
                                        <a href="blog_islam.html" class="menu_text">ইসলাম</a>
                                    </li>
                                    <li>
                                        <a href="blog_Islamic-movement.html" class="menu_text">ইসলামী আন্দোলন</a>
                                    </li>
                                    <li>
                                        <a href="blog_bangladesh.html" class="menu_text">বাংলাদেশ</a>
                                    </li>
                                    <li>
                                        <a href="blog_politics.html" class="menu_text">রাজনীতি</a>
                                    </li>
                                    <li>
                                        <a href="blog_history.html" class="menu_text">ইতিহাস</a>
                                    </li>
                                    <li>
                                        <a href="blog_misc.html" class="menu_text">বিবিধ</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- importent_link_area end -->

                        <!-- contact area start -->
                        <div class="col-md-4 col-lg-4">
                            <div class="area_title">
                                <h2 class="area_title_text">যোগাযোগের ঠিকানা</h2>
                            </div>

                            <div class="contact_area">

                                <!-- adddress_area start -->
                                <div class="adddress_area">
                                    <p class="adddress_text">
                                        বাড়ি ৩১, লেন ০১, ব্লক বি, সেকশন ০৬, মিরপুর, ঢাকা-১২০৪, বাংলাদেশ।
                                    </p>
                                </div>
                                <!-- adddress_area end -->

                                <!-- phone_title_and_number area start -->
                                <div class="phone_title_and_number title_and_content">
                                    <div class="phone_title f_title_area">
                                        <p class="title_text">ফোন :</p>
                                    </div>
                                    <div class="phone_number f_content_area">
                                        <a class="content_text f_c_number"
                                            href="tel:+8801000000000">+8801000000000</a>
                                        <a class="content_text f_c_number"
                                            href="tel:+8801000000000">+8801000000000</a>
                                        <a class="content_text f_c_number"
                                            href="tel:+8801000000000">+8801000000000</a>
                                    </div>
                                </div>
                                <!-- phone_title_and_number area end -->

                                <!-- email_title_and_address start -->
                                <div class="email_title_and_address title_and_content">
                                    <div class="email_title f_title_area">
                                        <p class="title_text">ই-মেইল :</p>
                                    </div>
                                    <div class="email_address f_content_area">
                                        <a class="content_text email_text"
                                            href="mailto:abc@gmail.com">abc@gmail.com</a>
                                    </div>
                                </div>
                                <!-- email_title_and_address end -->
                            </div>
                        </div>
                        <!-- contact area end -->

                        <!-- map area start -->
                        <div class="col-md-4 col-lg-4">
                            <div class="area_title">
                                <h2 class="area_title_text">ম্যাপ</h2>
                            </div>

                            <div class="contact_area">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.246369999089!2d90.3589410747526!3d23.809836686493018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c1670cdb1779%3A0x645bbf4f0aeb1d56!2sTech%20Park%20IT!5e0!3m2!1sen!2sbd!4v1694496378390!5m2!1sen!2sbd"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <!-- map area end -->
                    </div>
                </div>

            </div>
            <!-- footer_inner_area end -->

            <!-- copy-write_and_social-media_area start -->
            <div class="copy-write_and_social-media_area">
                <!-- copy-write_area start -->
                <div class="copy-write_area">
                    <span class="copy-write_text">
                        কপিরাইট © 2023 <a href="#" class="text">রাজিবুর রহমান</a>
                    </span>
                </div>
                <!-- copy-write_area end -->

                <!-- social-media_area start -->
                <div class="social-media_area">
                    <ul>
                        <li>
                            <a href="#" class="social-media_icon">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-media_icon">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-media_icon">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-media_icon">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- social-media_area end -->

            </div>
            <!-- copy-write_and_social-media_area end -->

        </div>
    </div>
</footer>
<!-- footer_area end -->


<!-- javaScript area start -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<!-- javaScript area end -->
</body>

</html>