<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Classification" content="Portfolio">
    <meta name="identifier-URL" content="">
    <meta name="directory" content="submission">
    <meta name="category" content="Internet">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="target" content="all">
    <meta name="HandheldFriendly" content="True">
    <meta name="author" content="nextechcode">
    <meta name="developer" content="Alif Sagir">
    <meta name="developer-email" content="alifsagir99@gmail.com">
    <meta name="developer-company" content="nextechcode">
    <meta name="copyright" content="Amber-Personal-portfolio">
    <meta name="revisit" content="1 days">
    <meta name="keywords"
        content="amber, nextechcode, alif sagir, personal portfolio, professional portfolio, freelancer portfolio, creative portfolio personal, portfolio,  cv, vcard, resume, business card, business, designer, agency, html template,
 bootstrap 5, css3, sass, javaScript, responsive, clean, dark, light, sco, minimal, multiple page, modern, creative, freelancer, programmer,">
    <meta name="description" content="Personal-portfolio">
    <meta property="og:title" content="Amber-Personal-portfolio">
    <meta property="og:site_name" content="Amber-Personal-portfolio">
    <meta property="og:description" content="Amber-Personal-portfolio">
    <meta property="og:type" content="Personal portfolio">
    <meta property="og:url" content="/">
    <meta property="og:image" content="/assets/images/logo/dark_logo.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta name="twitter:title" content="Amber Personal portfolio">
    <meta name="twitter:description" content="Amber Personal portfolio">
    <meta name="twitter:image" content="/assets/images/logo/dark_logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <title>হোম</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/icon/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>