<body id="scroll_top">
    <!-- navigation_area start -->
    <nav class="navigation_area">
        <div class="container">
            <div class="navigation_area_content">
                <a href="#" class="logo_area">
                    <img src="/assets/images/logo_image/logo.png" alt="img">
                </a>
                <div class="navigation_menu_area">
                   
                    <ul>
                        <li>
                            <a href="/home" class="menu_text">হোম</a>
                        </li>
                        <li>
                            <a href="/about" class="menu_text">আমাদের সম্পর্কে
                            </a>
                        </li>
                        <li>
                            <a href="/contemporary" class="menu_text">সমসাময়িক
                            </a>
                        </li>
                        <li>
                            <a href="/social-work" class="menu_text">সামাজিক কাজ
                            </a>
                        </li>
                        <li>
                            <a href="/book-review" class="menu_text">বই পর্যালোচনা</a>
                        </li>
                        <li>
                            <button class="menu_text" onclick="inner_menu.classList.toggle('active_alass')">ব্লগ
                                <i class="fa-solid fa-angle-down"></i>
                            </button>

                            <ul id="inner_menu">
                                
                                    <% commonData.blog_category.map( (category)=>{ %>

                                        
                                        <li>
                                            <a href="<%= category.url %>" class="menu_text">
                                                <%= category.title %></a>
                                        </li>
                                        <% })%>
                               
                            </ul>
                        </li>
                        <li>
                            <button class="menu_text" onclick="inner_menuu.classList.toggle('active_alass')">গ্যালারি
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                            <ul id="inner_menuu">
                                <li>
                                    <a href="/photo-gallery" class="menu_text">ফটো গ্যালারি</a>
                                </li>
                                <li>
                                    <a href="/video-gallery" class="menu_text">ভিডিও গ্যালারি</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="contact" class="menu_text">যোগাযোগ</a>
                        </li>
                    </ul>
                </div>

                <!-- responsive_menu_area start -->
                <div class="responsive_menu_area">
                    <a href="#" class="responsive_menu_icon">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
                <!-- responsive_menu_area end -->
            </div>
        </div>
    </nav>
    <!-- navigation_area end -->